# TrackEat

## Project Context
Mobile app on android and ios that
- lets you take a picture of a meal, pass it through gemini llm, and the llm will decide the nutritional info and then that info is logged on our database.
- has a leaderboard screen
- has an LLM chatbot page where the user can type, take a picture or describe verbally the meal

## Code Style and Structure
- We are using flutter with provider
- Firebase for database (firestore)

## Git commit message
- Must be concise, only one sentence.
